body{
    font-family: Microsoft Yi Baiti;
    src: url(msyi.ttf);
    background-color: grey;

    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.page_title
{
    font-size: 150px;
}

.gutter{
    flex-grow: 1;
}

.page_container {
    width: 100%;
    height: 80%;
    min-width: 1600px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 90%;
}

.info_bar{
    background-color: #DDC2DE;
    width:  60%;
    max-width: 922;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
}